<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">IMDb movies</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/most-popular-movies">Top 100 Most Popular Movies</a>
                <a class="nav-link" href="/most-popular-series">Top 100 Most Popular Series</a>
                <a class="nav-link" href="/top-250-movies">Top 250 Movies</a>
                <a class="nav-link" href="/top-250-series">Top 250 Series</a>
                <a class="nav-link" href="/saved">Saved</a>
                <a class="nav-link" href="/favorites">Favorites</a>
            </div>
        </div>
    </div>
</nav>